*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}


.navbar{
    width: 100%;
    background: blanchedalmond;
}
.navbar-container{
    display: flex;
    color: #fff;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
}
.navbar-item{
    outline: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.navbar-item a{
    padding: 15px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
















.main-page{
    background-image: url(images/m1.jpg);
    background-size: cover;
    height: 100vh;
}


